* {
  margin: 0;
  padding: 0;
  color: #f57c00;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3vw;
  flex: 1;
}

h2 {
  font-size: 2vw;
}

.plotki {
  border-width: 2px;
  border-style: solid;
}

#root {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#gameBox {
  width: 85vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.05);
}

#gameHeader {
  padding: 40px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

#statDiv {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}

#board {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sphere {
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 2.25vh;
}

.cell {
  width: 7.5vh;
  height: 7.5vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#board>div>.cell:nth-child(2n+2) {
  border-left: 2px solid #7575757a;
  border-right: 2px solid #7575757a;
}

#gameDiv {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex: 1;

  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

#thisTurn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nextTurn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#thisTurn>.cell:nth-child(3) {
  border-top: 2px solid #7575757a;
  border-bottom: 2px solid #7575757a;
}

#nextTurn>.cell:nth-child(3) {
  border-top: 2px solid #7575757a;
  border-bottom: 2px solid #7575757a;
}

.open {
  background-color: #121212;
}

.closed {
  background-color: rgba(255, 255, 255, 0.027);
}

.pathInfo {
  position: absolute;
  color: #000;
  font-size: 3vw;
  align-self: center;
}

.obstacle {
  background-color: rgba(255, 0, 0, 0.294);
}

.path {
  background-color: #fff;
}